<div class="well" ng-if="loading">
    <span class="fa fa-spinner fa-spin"></span>
    Loading&hellip;
</div>
<div class="alert alert-danger" ng-if="error">
    Error
</div>
<div class="alert alert-danger" ng-if="loadError">
    Could not load map
</div>
<div ng-if="!loading && !error">
    <div class="row">
        <div class="col-sm-6">
            <form>
                <input class="form-control" type="text" placeholder="Search&hellip;" ng-model="keyword">
            </form>
        </div>
        <div class="col-sm-6">
            <div class="form-control" style="border:0">
                Showing {{filteredMaps.length}} of {{maps.length}}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="map in filteredMaps = (maps | orderBy:'name' | filter:keyword)">
            <div class="thumbnail">
                <a class="pointer" ng-click="load(map)">
                    <img ng-src="{{ServerUrl}}cache/{{map.path}}/levelshots/{{map.name}}.jpg" alt="{{map.name}}">
                    <div class="ellipsis">
                        {{map.name|uppercase}}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
