[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Space out content a bit */
body {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  width:100%;
  margin:0;
  padding:0;
}

.page {
  padding:0 15px;
}

.navbar {
  border-radius: 0;
}

.pointer {
  cursor:pointer;
}

.gray {
  color:#aaa;
}

.logo {
  float:left;
  margin-right:10px;
  margin-top:8px
}

.ellipsis {
  white-space:nowrap;
  width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
}

a.map,
a.map:hover,
a.map:focus {
  color: white;
}
a.map > div {
  width: 100%;
  background-color: #101010;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left:15px;
    margin-right:0;
  }
  .navbar-brand {
    padding-left:10px;
  }
}